<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".home.HomePage" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name"
            android:name=".home.ExpandableList1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  Start for DivyaDesam1  -->
        
        <activity android:label="@string/app_name"
            android:name=".divyadesam1.AroundChennai" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".divyadesam1.AroundKumbakonam" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
          <activity android:label="@string/app_name"
            android:name=".divyadesam1.AroundMadurai" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
                <activity android:label="@string/app_name"
            android:name=".divyadesam1.AroundMayavaram" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
                 <activity android:label="@string/app_name"
            android:name=".divyadesam1.AroundSeerghazi" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".divyadesam1.AroundTrichy" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".divyadesam1.Guidance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    
        <!--  Ends for DivyaDesam1  -->
        
         <!--  Start for DivyaDesam2  -->
        
        <activity android:label="@string/app_name"
            android:name=".divyadesam2.AroundAndraPradesh" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".divyadesam2.AroundCuddalore" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
          <activity android:label="@string/app_name"
            android:name=".divyadesam2.AroundKanchipuram" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
                <activity android:label="@string/app_name"
            android:name=".divyadesam2.AroundKerla" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".divyadesam2.AroundTirunelveli" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".divyadesam2.InKancheepuram" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".divyadesam2.NorthIndia" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    
        
        
        <!--  Ends for DivyaDesam2  -->
        
          <!--  Start for FamousTemple  -->
        
        <activity android:label="@string/app_name"
            android:name=".famoustemple.AroundChennai" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".famoustemple.AroundKanchipuram" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
          <activity android:label="@string/app_name"
            android:name=".famoustemple.AroundMadurai" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
                <activity android:label="@string/app_name"
            android:name=".famoustemple.AroundRameswaram" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".famoustemple.AroundTanjore" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".famoustemple.AroundTirunelveli" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        <activity android:label="@string/app_name"
            android:name=".famoustemple.AroundTiruvanamalai" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    
        <activity android:label="@string/app_name"
            android:name=".famoustemple.AroundTrichy" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    
        
        
        <!--  Ends for famousTemple  -->
        
        
        <!--  Starts for Kumbakonam  -->
        
        <activity android:label="@string/app_name"
            android:name=".kumbakonam.InKumbakonam" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name"
            android:name=".kumbakonam.Around100KM" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:name=".kumbakonam.Around10KM" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:name=".kumbakonam.Around25KM" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:name=".kumbakonam.Around40KM" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:name=".kumbakonam.Around60KM" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- End for Kumbakonam -->
        
        <!--  Starts for miscellaneous  -->
        
        <activity android:label="@string/app_name"
            android:name=".misc.AboutUs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name"
            android:name=".misc.ContactInfos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:name=".misc.FAQs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:name=".misc.MuruganTemple" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- End for miscellaneous -->
        
         <!--  Starts for navagraha  -->
        
        <activity android:label="@string/app_name"
            android:name=".navagraha.NavagrahaHome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name"
            android:name=".navagraha.NavagrahaMaps" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:name=".navagraha.NavagrahaTempleInfos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:name=".navagraha.TourPackages" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- End for miscellaneous -->
        
        
         <!--  Starts for onlinepooja  -->
        
        <activity android:label="@string/app_name"
            android:name=".onlinepooja.NavagrahaTemplePooja" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name"
            android:name=".onlinepooja.PoojaBooking" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:name=".onlinepooja.SpecialPooja" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- End for onlinepooja -->
    </application>

</manifest>